html
{
    overflow-y:scroll;
}

body
{
    margin:0;
    padding:0;
}

p
{
    font-size:100%;
    line-height:1.2;
    margin:0 auto 1em 0;
    padding:0 20px 0 5px;
}

#header
{
    padding:0 5px 0 5px;
}

#header h1
{
    font-family:Arial;
    position:relative;
    text-align:center;
}

#header img#logo
{
    padding:0 0 0 5px;
    position:fixed;
}

#header a:link, #navigator a:visited
{
    color:#000000;
}

#navigator
{
    margin:0 110px 0 0;
    padding:0 5px 0 5px;
    position:fixed;
    
}

ul#navigator
{
    list-style:none;
    padding:0 10px 0 10px;
}

#navigator a
{
    display:block;
    font-family:Arial;
    font-variant:small-caps;
    font-weight:bold;
    padding-left:10px;
    padding-right:10px;
    text-decoration:none;
}

#navigator a:link, #navigator a:visited
{
    color:#000000;
}

#navigator a:hover, #navigator a:active
{
    background-color:#000000;
    color:#B2B5AE;
}

a#focused
{
    background-color:transparent !important;
    color:#FF0000 !important;
}

#footer
{
    bottom:0;
    clear:both;
    color:#000000;
    margin:2% 0 0 0;
    position:relative;
    text-align:center;
}

#footer p
{
	margin-bottom:0;
	font-size:85%;
	font-weight:bold;
}

div#comprehensive
{
    font-family:Arial;
    margin:45px auto;
}

div#core
{
    margin:0 5% 0 160px;
    min-width:530px;
    max-width:1810px;
    position:relative;
}

iframe#googlemaps
{
    color:#0000FF;
    float:left;
    margin:0 20px 20px 20px;
    text-align:left;
}
